<% include head.html%>
<div class="layui-body ">
	<form class="layui-form" style="width:80%;">
		<div class="layui-form-item">
			<label class="layui-form-label">章节标题</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" lay-verify="required" id="sname" name="sname" placeholder="请输入文章标题">
			</div>
		</div>
		<label class="layui-form-label">章节内容</label>
		<div class="layui-form-item">

			<div id="editor" style="position: relative;left:100px;" name="scontent">
				<!-- <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p> -->
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" type="button" lay-submit="" id='btn2' lay-filter="addNews">添加</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>

	</form>





</div>
<script src="http://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#editor');
	// 或者 var editor = new E( document.getElementById('editor') )
	document.getElementById('btn2').addEventListener('click', function () {
		// 读取 text
		// alert(editor.txt.text());
		// 获得所添加的章节内容
		// replace(/[&\|\\\*^%$#@\-]/g,"");
		let scontent = editor.txt.text().replace(/[&\|\\\*^%$#@\-\[\],'']/g,"");
		// 获得章节标题
		let sname = document.querySelector('#sname').value;

		let xhr = window.XMLHttpRequest ? new XMLHttpRequest : ActiveXObject('Microsoft.XMLHTTP');
		// 数据请求方式
		xhr.open('POST', '/admin/novelAll/getChapter', true);
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.send(`scontent=${scontent}&sname=${sname}`);
		xhr.onreadystatechange = function () {
			if(xhr.readyState == 4 && xhr.status==200){
				alert('添加成功');
				window.location.href='/admin/novelAll';	
			}
		}
	}, false)
	editor.create();
</script>
<% include foot.html%>