<% include head.html%>
<!-- 添加小说的html -->
<div class="layui-body">
    <form class="layui-form addCenter" action="" id="formAdd" action="/upload" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">小说名:</label>
            <div class="layui-input-inline">
                <input type="text" name="bname" required lay-verify="required" placeholder="请输入小说名字" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者:</label>
            <div class="layui-input-inline">
                <input type="text" name="author" required lay-verify="required" placeholder="请输入作者名" autocomplete="off"
                    class="layui-input">
            </div>
            <!-- <div class="layui-form-mid layui-word-aux">辅助文字</div> -->
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">小说类型:</label>
            <div class="layui-input-inline">
                <input type="text" name="kinds" required lay-verify="required" placeholder="请输入小说类型" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">小说字数:</label>
            <div class="layui-input-inline">
                <input type="text" name="wordnum" required lay-verify="required" placeholder="请输入小说字数" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
      
        <div class="layui-form-item">
            <label class="layui-form-label">封面上传:</label>
            <div class="layui-input-block">
                <label class="header" for="imgNovel">
                    <img src="/img/cover.jpg" style="width:104px;height:140px;" alt="" id="imgCover">
                </label>
                <input type="file" multiple name="imgNovel" id="imgNovel" style="display:none">
                <input type="hidden" value="" id="imgPath" name='cover'>
            </div>
        </div>



        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" for="describe1">描述:</label>
            <div class="layui-input-block">
                <textarea name="describe1" placeholder="请输入内容" class="layui-textarea" lay-verify="required"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn formAdd" type="button" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
    <!-- <form action="" method="post" enctype="multipart/form-data">
            <label class="header" for="images">
                <img src="/img/2.jpg" style="width:104px;height:140px;" alt="" id="img">
            </label>
            <label class="layui-form-label">描述:</label>
            <input type="file" multiple name="images" id="images" style="display:none">
            <input type="hidden" value="" id="imgval">
            <!-- <input type="button" value="保存">
    </form> 
-->
</div>
<script>
    let imgNovel = document.querySelector('#imgNovel');
    //当选择文件时，value值改变会触发change事件
    imgNovel.onchange = function () {
        //获取选中的文件信息：文件内容
        // console.log(this.files[0]);
        let This = this;
        //使用ajax发送图片到服务器
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload2');

        //创建一个表单数据对象
        let formdata = new FormData();
        formdata.append('images', This.files[0]); //往表单追加input 名字，值
        //formdata.append('username', '晓晓'); //这里相当于 input：text,nmae=username,value=晓晓
        xhr.send(formdata);
       

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                let data = JSON.parse(xhr.responseText);
                
                document.querySelector('#imgCover').src ='\\'+ data.path;
                document.querySelector('#imgPath').value ='\\'+data.path;   
            }
        }
    }



</script>
<% include foot.html%>