<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心-火柴阅读</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/person.css">
</head>

<body>
    <!-- 用户个人信息设置页面 -->

    <% for(let u of userinfo) {%>

    <div class="layui-fluid p_nav">
        <ul class="layui-nav">
            <li class="layui-nav-item head_logo">
                <a href="">个人中心</a>
            </li>
            <li class="layui-nav-item">
                <a href="">我的首页</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="/person/bookshelf">我的书架</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">消息中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item right">
                <!-- 用户个人信息 -->
                <a href=""><img src="<%=u.uimg%>" class="layui-nav-img">
                    <%=u.username%></a>
                <dl class="layui-nav-child">
                    <dd><a href="/person/info">个人信息</a></dd>
                    <dd><a href="/person/homepage">我的主页</a></dd>
                    <dd><a href="javascript:;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-container bg-ad">
        <!-- 应该获取数据库渲染 -->
        <%for(let ad of adlist) {%>
        <img src="<%=ad.pinfo_ad%>" alt="">
        <%}%>
        <!-- 侧边导航栏 -->
        <ul class="layui-nav layui-nav-tree aside" lay-filter="test">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">默认展开</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">选项1</a></dd>
                    <dd><a href="javascript:;">选项2</a></dd>
                    <dd><a href="">跳转</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
        </ul>

        <!-- 信息设置 -->
        <div class="layui-tab layui-tab-card setting">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <a href="#">基本设置</a>
                </li>
                <li>
                    <a href="#">头像设置</a>
                </li>
            </ul>
            <div class="layui-tab-content" style="height: 432px;width: 768px;">
                <!-- 个人基本设置 -->

                <div class="layui-tab-item layui-show">
                    <form class="layui-form" id="forminfo" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" value="<%=u.username%>" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="男" title="男">
                                <input type="radio" name="sex" value="女" title="女" checked>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" name="birth" value="<%=u.birth%>" lay-verify="required" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地区</label>
                            <div class="layui-input-inline">


                                <input type="text" name="address" value="<%=u.address%>" lay-verify="required"
                                    autocomplete="off" class="layui-input">

                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">简介</label>
                            <div class="layui-input-block">
                                <textarea name="selfdes" placeholder="你可以简单的介绍自己" class="layui-textarea"><%=u.selfdes%></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="button" id="basic_info" lay-submit lay-filter="">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 头像设置 -->
                <div class="layui-tab-item">
                    <form action="" method="post" enctype="multipart/form-data" id='formheader'>
                        <label class="header" for="images">

                            <img src="<%=u.uimg%>" alt="" id="img">
                        </label>
                        <input type="file" multiple name="images" id="images" style="display:none">
                        <input type="hidden" value="" id="imgval">

                    </form>
                    <p style="font-size:16px;margin: 20px;">点击头像直接上传</p>
                    <input type="button" class="layui-btn" id="up_img" value="保存">
                </div>
            </div>
        </div>
        <div class="layui-footer footer info_foot">
            <!-- 底部固定区域 -->
            <p> © 2018 - 火柴小说网 - 火柴 - 蜀ICP-201800686 联系：1526659463</p>
            <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，一经发现违规违纪，即作删除！</p>
            <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关</p>
        </div>
    </div>
    <% }%>

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/user/person.js"></script>

</body>

</html>