<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心-火柴阅读</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/person.css">
</head>

<body>
    <!-- 用户个人信息设置页面 -->

    <% for(let u of userinfo) {%>

    <div class="layui-fluid p_nav">
        <ul class="layui-nav">
            <li class="layui-nav-item head_logo">
                <a href="">个人中心</a>
            </li>
            <li class="layui-nav-item">
                <a href="/user/person">我的首页</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="/person/bookshelf">我的书架</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">消息中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item right">
                <!-- 用户个人信息 -->
                <a href=""><img src="<%=u.uimg%>" class="layui-nav-img">
                    <%=u.username%></a>
                <dl class="layui-nav-child">
                    <dd><a href="/person/info">个人信息</a></dd>
                    <dd><a href="/person/homepage">我的主页</a></dd>
                    <dd><a href="/">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-container bg-ad">
        <!-- 应该获取数据库渲染 -->
        <%for(let ad of adlist) {%>
        <img src="<%=ad.pinfo_ad%>" alt="">
        <%}%>
        <!-- 侧边导航栏 -->

        <div class="personal-sideBar">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">账务zhongxin</a></li>
                <li><a href="">我的票夹</a></li>
                <li><a href="">我的红包</a></li>
                <li><a href="">我的书评</a></li>
            </ul>
            <ul>
                <li><a href="">经验值等级</a></li>
                <li><a href="">任务</a></li>
                <li><a href="">徽章/称号/认证</a></li>
            </ul>
            <ul>
                <li><a href="">会员中心</a></li>
                <li><a href="">安全中心</a></li>
                <li><a href="">作家专区</a></li>
            </ul>
            <ul>
                <li><a href="">红月传说</a></li>
                <li><a href="">大皇帝</a></li>
            </ul>
        </div>

        <!-- 信息设置 -->
        <h5 style="margin-top:-3px;">首页>个人信息设置</h5>
        <div class="layui-tab layui-tab-card setting">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <a href="#">基本设置</a>
                </li>
                <li>
                    <a href="#">头像设置</a>
                </li>
            </ul>
            <div class="layui-tab-content" style="height: 480px;width: 768px;">
                <!-- 个人基本设置 -->

                <div class="layui-tab-item layui-show">
                    <form class="layui-form" id="forminfo" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" value="<%=u.username%>" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="男" title="男" checked>
                                <input type="radio" name="sex" value="女" title="女" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" name="birth" value="<%=u.birth%>" lay-verify="required" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地区</label>
                            <div class="layui-input-inline">


                                <input type="text" name="address" value="<%=u.address%>" lay-verify="required"
                                    autocomplete="off" class="layui-input">

                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">简介</label>
                            <div class="layui-input-block">
                                <textarea name="selfdes" placeholder="你可以简单的介绍自己" class="layui-textarea"><%=u.selfdes%></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="button" id="basic_info" lay-submit lay-filter="">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 头像设置 -->
                <div class="layui-tab-item">
                    <form action="" method="post" enctype="multipart/form-data" id='formheader'>
                        <label class="header" for="images5">
                            <!-- <img src="<%=u.uimg%>" alt="" id="img5"> -->
                            <!-- /img/header.jpg -->
                            <img src="/img/header.jpg" alt="" id="img5">
                        </label>
                        <input type="file" multiple name="images5" id="images5" style="display:none">
                        <input type="hidden" value="" id="imgval5">

                    </form>
                    <p style="font-size:16px;margin: 20px;">点击头像直接上传</p>
                    <input type="button" class="layui-btn" id="up_img" value="保存" uimg="">
                </div>
            </div>
        </div>
        
    </div>
    <% }%>
    <div class="layui-footer footer info_foot">
        <!-- 底部固定区域 -->
        <p> © 2018 - 火柴小说网 - 火柴 - 蜀ICP-201800686 联系：1526659463</p>
        <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，一经发现违规违纪，即作删除！</p>
        <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关</p>
    </div>
    
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/user/person2.js"></script>

</body>

</html>