<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心-火柴阅读</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/person.css">
</head>

<body>
    <!-- 个人中心主页面 -->
    <% for(let i of userinfo) {%>
    <div class="layui-fluid p_nav">
        <ul class="layui-nav">
            <li class="layui-nav-item head_logo">
                <a href="#">个人中心</a>
            </li>
            <li class="layui-nav-item person_bg">
                <a href="">我的首页</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="/person/bookshelf" id='shelfs'>我的书架</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">消息中心<span class="layui-badge-dot"></span></a>
            </li>
             <!-- 用户个人信息 -->
            <li class="layui-nav-item me">
               
                <a href=""><img src="<%=i.uimg%>" class="layui-nav-img"><%=i.username%></a>
                <dl class="layui-nav-child" >
                    <dd><a href="/person/info" uid="<%=i.uid%>"  id="p_info">个人信息</a></dd>
                    <dd><a href="/person/homepage">我的主页</a></dd>
                    <dd><a href="javascript:;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <% } %>

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>